.ipAddyInput-container {
    display: flex;
    flex-flow: column wrap;
    background-image: url('../../images/pattern-bg.png');
    height: 30vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ipAddyInput-title {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}
.ipAddyInput-title h1, h2{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.ipAddyInput-search {
    display: flex;
    flex-flow: row ;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

}
.ipAddyInput-search form {
    position: relative;
    width: 100%;
    max-width: 1281px;
}

.ipAddyInput-search form input {
    width: 40%;
    height: 55px;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    cursor: pointer;
}
.ipAddyInput-search form button {
    width: 60px;
    height: 57px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    right: 28%;
    font-size: 25px;
    font-weight: bolder;
    background-color: black;
    color: white;
    cursor: pointer;
    position: absolute;
}