.ipAddyInput-container {
    display: flex;
    flex-flow: column wrap;
    background-image: url('../../images/pattern-bg.png');
    height: 35vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ipAddyInput-title {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: white;
}
.ipAddyInput-title h2, h3 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.ipAddyInput-search {
    display: flex;
    flex-flow: row ;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

}
.ipAddyInput-search form {
    position: relative;
    width: 100%;
    max-width: 1281px;
}

.ipAddyInput-search form input {
    width: 40%;
    height: 55px;
    border-radius: 15px;
    border: none;
    right: 30%;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    position: absolute;
}
.ipAddyInput-search form button {
    width: 60px;
    height: 57px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    right: 30%;
    font-size: 25px;
    font-weight: bolder;
    background-color: black;
    color: white;
    cursor: pointer;
    position: absolute;
}