.ipAddyRes-container {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 175px;
    width: 85%;
    max-width: 1281px;
    background-color: white;
    border-radius: 20px;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ipAddyRes-sub {
    width: 20%;
}
.ipAddyRes-title {
    font-size: 0.80em;
    font-weight: 700;
    margin-top: 35px;
    color: hsl(0, 0%, 59%);
    text-align: flex-start;
    letter-spacing: 0.15em;
}

.ipAddyRes-divider {
    justify-content: center;
    align-items: center;
    border-left: 1px solid hsl(0, 0%, 59%);
    height: 50%;
    margin: auto 0;
}