.ipAddyRes-container {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 200px;
    width: 85%;
    max-width: 1281px;
    background-color: white;
    border-radius: 20px;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
}