.ipAddyRes-container {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 175px;
    width: 85%;
    max-width: 1281px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.ipAddyRes-sub {
    width: 20%;
}
.ipAddyRes-title {
    font-size: 0.80em;
    font-weight: 700;
    margin-top: 35px;
    color: hsl(0, 0%, 59%);
    text-align: flex-start;
    letter-spacing: 0.15em;
}

.ipAddyRes-content {
    font-size: 1.75em;
    font-weight: 700;
    margin-top: 10px;
    color: hsl(0, 0%, 17%);
    text-align: flex-start;
}

.ipAddyRes-divider {
    justify-content: center;
    align-items: center;
    border-left: 1px solid hsl(0, 0%, 59%);
    height: 50%;
    margin: auto 0;
}